
    <div class="chat-screen">
       <div class="chat-heading" fxLayout fxLayoutGap="20px">
             <div class="profile-pic"> 
                <img src="../../../../assets//Images/203524.jpg" alt="" srcset="">
             </div>
             <div class="profile-name">
                <p>Karthik</p>
             </div>
             <div class="menu">
               <img  src="../../../../assets/icons/more.png" alt="" srcset="">
             </div>
       </div>
       <div class="chat-window"
       fxLayout="column"
       fxLayoutAlign="start space-between"
       >
             <div  class="chat-space">

             </div>
             <div class="chat-input" 
               fxLayout fxLayoutAlign="center center"
               fxLayoutGap="10px"
               >
               <mat-icon>mood</mat-icon>
               <input placeholder="Type a message....." type="text">
              <mat-icon>send</mat-icon>
             </div>
       </div>
     
    </div>

